build
.vscode
*.bmp
!images/*
*.cache
.deps
Makefile
*.log
*.o
.dirstamp
aclocal.m4
compile
install-sh
missing
depcomp
Makefile.in
configure~
config.status
margen
*.tar.gz
configure
src/margen*
*.pkg.tar.zst
pkg