name: C-lang CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: gcc
        run: mkdir -p build && gcc -v -Wall -Wextra -Werror src/*.c src/*.h -lm

  build-release:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: aclocal
        run: aclocal
      - name: autoconf
        run: autoconf
      - name: automake
        run: automake --add-missing
      - name: configure
        run: ./configure
      - name: make
        run: make
      - name: make distcheck
        run: make distcheck
